# Ignore Python virtual environment
.venv/

# Ignore Python cache files and compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore IDE-specific files
.vscode/
.idea/
*.code-workspace

# Ignore generated output files and directories and configs
output/logs
output/snapshots
config/zones.json

# Ignore large model files 
*.pt

# ignore input video files
input/

